spring:
  application:
    name: MTG Collection Search
  datasource:
    url: jdbc:postgresql://localhost:5432/mtg-database
    username: postgres
    password: mypass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 1000
        order_inserts: true
        order_updates: true
        generate_statistics: false
  liquibase:
    enabled: true
    change-log: classpath:db/db.changelog-master.yaml
    default-schema: public
    contexts: dev
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
mtg:
  ingest:
    language: en